.setWrapper {
/*     display: flex;
    flex-direction: column;
    text-align: center; */
    margin: 0px 7px;
}

.setWrapper input{
    width: 65px;
}

.setWrapper input.reps{
    width: 50px;
}

.exerciseWrapper select{
    width: 100px;
}




.borderBottom {
    border-bottom: 1px solid;
    padding-bottom: 2px;
    width: 60px;
}


/* .container {
    width: 100%;
    display: flex;
} */




.border-b {
    border-bottom: 1px solid black;
}


